.border{
	border: 1px solid background;
	border-color: olive;
	margin: auto;
	width: 450px;
	padding: 20px 10px 30px 10px;
	background-color: white;
}

.signup{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: teal; 
}

.fname{
	font-weight: bold;
	font-size: 15px;
}

.lname{
	font-weight: bold;
	font-size: 15px;
	border-spacing: 60px; 
}

.address{
	font-weight: bold;
	font-size: 15px;
}

.gender{
	font-weight: bold;
	font-size: 15px;
}

.dob{
	font-weight: bold;
	font-size: 15px;
}

.button{
	width: 190px;
	text-align: center;
}

.username{
	font-weight: bold;
	font-size: 15px;
}

.password{
	font-weight: bold;
	font-size: 15px;
}

.confirmpassword{
	font-weight: bold;
	font-size: 15px;
}

.signup{
	text-align: center;
}

.signbutton{
	font-weight: bold;
	background-color: teal;
	color: white;
	width: 120px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	float: right;
	}

.signbutton:hover{
	opacity: 0.6;
	transition: .3s;
}
